<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/admin.css">

</head>
<body>

<div class="result-message1" th:if="${tipoConta == '0'}">
    <h1>Access Denied.</h1>
    <p>You don't have permission to access this page.</p>
    <form action="/" method="GET" class="return-button">
        <button type="submit"><</button>
    </form>
</div>
<div class="result-message2" th:if="${tipoConta == '1'}">
    <h1>Statistics</h1>
    <h2 id="statistics">This page will be dynamically based on the running information available.</h2>

    <!-- Display statistics here -->

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script>
        function connect() {
            var socket = new SockJS('/admin-websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/messages', function (message) {
                    document.getElementById("statistics").innerHTML = JSON.parse(message.body).content
                });
            });
        }

        function sendMessage(conteudo) {
            stompClient.send("/topic/messages", {},
                JSON.stringify({'content': conteudo}));
        }

        connect()
    </script>
    <form action="/" method="GET" class="return-button">
        <button type="submit"><</button>
    </form>
</div>

</body>
</html>
