<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>

<div class="result-message" th:if="${tipoConta == '0'}">
    <h1>Não tens permissão para aceder a esta página.</h1>
    <form action="/" method="GET">
        <button type="submit">Voltar</button>
    </form>
</div>
<div class="result-message" th:if="${tipoConta == '1'}">
    <h1>Statistics</h1>
    <div id="statistics"></div>

    <!-- Display statistics here -->

    <script>
        const statisticsElement = document.getElementById('statistics');

        // Create a new WebSocket connection
        const socket = new WebSocket('ws://127.0.0.1:8080/websocket');

        // Event listener for when the connection is established
        socket.addEventListener('open', function () {
            console.log('Connected to WebSocket server');
        });

        // Event listener for when a message is received from the WebSocket server
        socket.addEventListener('message', function (event) {
            console.log('Message from server:', event.data);
            statisticsElement.innerText = event.data;
        });

        // Event listener for when an error occurs
        socket.addEventListener('error', function (event) {
            console.error('WebSocket error:', event);
        });

        // Event listener for when the connection is closed
        socket.addEventListener('close', function () {
            console.log('WebSocket connection closed');
        });
    </script>
</div>

</body>
</html>
