<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>
<body>

<div class="result-message" th:if="${tipoConta == '0'}">
    <h1>Não tens permissão para aceder a esta página.</h1>
    <form action="/" method="GET">
        <button type="submit">Voltar</button>
    </form>
</div>
<div class="result-message" th:if="${tipoConta == '1'}">
    <h1>Statistics</h1>
    <div id="statistics"></div>

    <!-- Display statistics here -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sockjs/1.1.4/sockjs.min.js"></script>
    <script>
        var socket = new SockJS('/websocket-example');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/greetings', function (greeting) {
                showGreeting(JSON.parse(greeting.body).content);
            });
        });
    </script>
</div>

</body>
</html>
