<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/search.css">
</head>
<body>
<div class="mainContainer">

    <h1>Search Results</h1>
    <p>Showing results for query: <strong th:text="${query}"></strong></p>
    <!-- Display search results here -->

    <!-- Search Form -->
    <form action="/search" method="GET">
        <label for="query">Search:</label> <br>
        <input type="text" id="query" name="query" placeholder="Input"/>
        <button id="btn" type="submit">Search</button>
    </form>

    <!-- Display Search Results -->
    <div>
        <ul>
            <th:block th:if="${searchResults.isEmpty()}">
                <p>Your search did not match any documents.</p>
            </th:block>
            <th:block th:unless="${searchResults.isEmpty()}">
                <th:block th:each="result : ${searchResults}">
                    <li th:if="${result != null}">
                        <a th:if="${result.url != null}">
                            <span th:if="${!result.pageTitle.startsWith('New url (')}" th:href="${result.url}"
                                  th:text="${result.pageTitle.length() > 75 ? result.pageTitle.substring(0, 75) + '...' : result.pageTitle}"
                                  target="_blank"></span>
                        </a>


                        <!-- Style this -->
                        <span th:unless="${!result.pageTitle.startsWith('New url (')}" th:text="${result.pageTitle}"
                              class="new-url"></span>

                    </li>
                </th:block>
            </th:block>
        </ul>
    </div>


</div>

</body>
</html>
