<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/search.css">
</head>
<body>
<div class="mainContainer">

    <h1>Search Results</h1>
    <p>Showing results for query: <strong th:text="${query}"></strong></p>
    <!-- Display search results here -->

    <!-- Search Form -->
    <form action="/search" method="GET">
        <label for="query">Search:</label> <br>
        <input type="text" id="query" name="query" placeholder="Input"/>
        <button id="btn" type="submit">Search</button>
    </form>

    <!-- Display Search Results -->
    <div>
        <ul>
            <th:block th:if="${searchResults.isEmpty() && !query.isEmpty()}">
                <p>Your search did not match any documents.</p>
            </th:block>
            <th:block th:if="${query.isEmpty()}">
                <p>Please enter a search query.</p>
            </th:block>

            <th:block th:if="${!searchResults.isEmpty() && !query.isEmpty()}">
                <th:block th:each="result : ${searchResults}">
                    <li th:if="${result != null}">
                        <a th:if="${result.url != null}">
                            <a th:if="${!result.pageTitle.startsWith('New url (') && !result.pageTitle.contains('Trying')}"
                               th:href="${result.url}"
                               th:text="${result.pageTitle.length() > 75 ? result.pageTitle.substring(0, 75) + '...' : result.getPageTitle() + (result.getRelevance() != -1 ? ' (' + result.getRelevance() + ' references)' : '')                }"
                               target="_blank"></a>
                        </a>

                    </li>


                    <p th:if="${result.pageTitle.startsWith('New url (') || result.pageTitle.contains('Trying') }"
                       th:text="${result.getPageTitle()}"
                       class="new-url"></p>

                </th:block>

            </th:block>
        </ul>
    </div>

    <!-- Pagination buttons -->
    <div class="pagination">
        <form action="/search" method="GET" class="prev" th:if="${page > 0}">
            <input type="hidden" name="query" th:value="${query}"/>
            <input type="hidden" name="page" th:value="${page - 1}"/>
            <button type="submit">Previous</button>
        </form>

        <form action="/search" method="GET" class="next" th:if="${page < totalPages - 1}">
            <input type="hidden" name="query" th:value="${query}"/>
            <input type="hidden" name="page" th:value="${page + 1}"/>
            <button type="submit">Next</button>
        </form>
    </div>

    <form action="/" method="GET" class="return-button">
        <button type="submit"><</button>
    </form>
</div>

</body>
</html>
