<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/search.css">
</head>
<body>
    <div class="mainContainer">

        <h1>Search Results</h1>
        <p>Showing results for query: <strong th:text="${query}"></strong></p>
        <!-- Display search results here -->
        
        <!-- Search Form -->
        <form action="/search" method="GET">
            <label for="query">Search:</label> <br>
            <input type="text" id="query" name="query" placeholder="Input"/>
            <button id="btn" type="submit">Search</button>
        </form>
        
        <!-- Display Search Results -->
        <div>
            <ul>
                <th:block th:each="result : ${searchResults}">
                    <h3 th:href="${result.getPageTitle()}">[[${result.pageTitle}]]</h3>
        
                    <li>
        
                        <a th:href="${result.getURL()}" href=[[${result.url}]] target="_blank">[[${result.url}]]</a>
        
                    </li>
                </th:block>
            </ul>
        </div>

    </div>


</body>
</html>
